<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
		<add name="ContactContext" connectionString="Data Source=LAPTOP-LMHEG0J6\SQLEXPRESS;Initial Catalog=AddressBook4;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
  <connectionStrings>
    <add name="AudioPlayer" connectionString="metadata=res://*/Database.contact.csdl|res://*/Database.contact.ssdl|res://*/Database.contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-LMHEG0J6\SQLEXPRESS;initial catalog=audioplayer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <services>
		  <service name="AudioPlayerWCF.AudioPlayerService"  behaviorConfiguration="mexBeh" >
			  <endpoint address="AudioPlayerService" binding="basicHttpBinding" contract="AudioPlayerWCF.IAudioPlayerService"></endpoint>
			  <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			  <host>
				  <baseAddresses>
					  <add baseAddress="http://localhost:8080" />
				  </baseAddresses>
			  </host>
		  </service>
	  </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>