<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="LogDir" value="C:\Develop\git\audioplayer\player_api\PlayerApi\Logs\"/>
	<targets>
		<!-- all targets in this section will automatically be asynchronous -->
		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow"/>
		<default-target-parameters xsi:type="File" keepFileOpen="false" layout="[#| ${date:format=yyyy-MM-dd HH-mm-ss.fff} | ${level:uppercase=true} | ${logger} | ${message} |#]" encoding="utf-8" maxArchiveFiles="200" archiveNumbering="Rolling" archiveAboveSize="20480000" concurrentWrites="true"/>
		<target name="AudioController" xsi:type="File" fileName="${LogDir}\api.txt"/>
		</targets>
	<rules>
		<!--<logger name="*" writeTo="default" />-->
		<logger name="*" minlevel="Trace" writeTo="AudioController" />
		</rules>
	<Tasks>
	</Tasks>
</nlog>
